/* ==========================================================================
기본 스타일
========================================================================== */

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: "Noto Sans KR";
    color: #20262c;
}

/* Skip Navigation */
#skip-nav {
    position: absolute;
    top: -1000px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#skip-nav a {
    display: block;
    text-align: center;
    line-height: 0;
    font-size: 0;
}

#skip-nav a:focus,
#skip-nav a:hover,
#skip-nav a:active {
    position: absolute;
    top: 1000px;
    left: 0;
    padding: 0.8rem 0;
    display: block;
    height: 4.5rem;
    background: #20262c;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    text-decoration: none;
}


/* ==========================================================================
유틸리티
========================================================================== */

.hidden,
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    max-width: 96%;
}

.iframe {
    display: block;
    width: 100%;
}


/* ==========================================================================
텍스트
========================================================================== */

.text {
    @each $txt in left, center, right {
        &-#{$txt} { text-align: $txt !important; }
    }

    &-bold { font-weight: 700; }

    &-underline {
        text-decoration: underline !important;
        text-underline-position: under;
    }
}

/* ==========================================================================
Flex 정렬
========================================================================== */

@each $jc in center, space-around, space-evenly, space-between, flex-end, flex-start {
    .jc-#{$jc} { justify-content: $jc !important; }
}

@each $ai in flex-start, center, flex-end {
    .ai-#{$ai} { align-items: $ai !important; }
}


/* ==========================================================================
너비
========================================================================== */

@for $i from 1 through 100 {
    @if $i <= 20 or $i % 5 == 0 {
        .w#{$i} { width: $i * 1%; }
    }
}


/* ==========================================================================
마진
========================================================================== */

$margin-directions: (l: left, t: top, r: right, b: bottom);

@each $key, $dir in $margin-directions {
    @for $i from 0 through 10 {
        .m#{$key}#{$i} { margin-#{$dir}: $i * 0.8rem !important; }
    }
    .m#{$key}a { margin-#{$dir}: auto; }
}
