/* ==========================================================================
디자인 토큰 (로컬)
========================================================================== */

:root {
    --font-size: 10px;
}

// 반응형 폰트 기준 크기
@media (max-width: 1024px) {
    :root {
        --font-size: 9px;
    }
}

@media (max-width: 768px) {
    :root {
        --font-size: 8px;
    }
}

@media (max-width: 320px) {
    :root {
        --font-size: 7px;
    }
}